.chart-dropdown {
    max-width: 200px;
    padding: 10px;
    background: #e6e6e6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart-dropdown>select {
    width: auto;
}